.card-container{
    display: flex;
    flex-direction: column;
    width:300px;
    height:440px;
    border-style: solid;
    border-radius:1em;
    align-items: center;
}

.product-image{
    width: 250px;
    height:280px;
    border-style: solid;
    border-radius: 1em;
    text-align: center;
}

.product-quantity-container{
    display: flex;
    flex-direction: row;
}