.card-container{
    display: flex;
    flex-direction: column;
    width:250px;
    height:500px;
    border-radius:1em;
    background-color: whitesmoke;
    align-items: center;
}

.product-image{
    width: 200px;
    height: 220px;
    border-radius: 1em;
    margin-top:8px;
}

.product-quantity-container{
    display: flex;
    flex-direction: row;
}

.product-name{
    width: 100%;
    height: 70px;
    font-weight: bold;
}

.Add-to-cart{
    margin-top: 30px;
    padding: 10px;
    border-style: none;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: aqua;
}.Add-to-cart:hover{
    background-color: aquamarine;
}