.card-container{
    display: flex;
    flex-direction: column;
    width:250px;
    height:500px;
    border-style: solid;
    border-radius:1em;
    align-items: center;
}

.product-image{
    width: 200px;
    height: 220px;
    border-radius: 1em;
    margin-top:8px;
}

.product-quantity-container{
    display: flex;
    flex-direction: row;
}